*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #e2f362;
    display: grid;
}
.news-card{
    margin-top: 10px;
    max-width: 400px;
    max-height: 600px;
    display: flex;
    background-color: #43f0fc;
    flex-direction: column;
    border: 2px  solid #020202;
    
}
img{
    max-width: 300px;
    max-height: 400px;
}
p{
    font-size: 12px;
    font-style:italic ;
}